*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-text{
    width:100%;
    height: 108px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
    background-color: #2BBBAD;
}
form{
    width: 905px;
    height: 528px;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.fields{
    margin-top: 5vh;
    width: 766.91px;
height: 46px;
}
a{
    margin: 10px auto;
}
.btn{
    margin-bottom: 4vh;
}
.btn button{

    width: 100px;
height: 38px;
margin-top: 5vh;
border-radius: 10px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
box-shadow: 25px 34px 73px -18px rgba(0,0,0,0.49);
border: 4px solid #00695C;
color: #050505;
}
span{
    
font-family: 'Poly';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}